/* Font Ralleway Google */
body {
    font-family: 'Raleway', sans-serif;
  }


/*Ajout du background pour la paga avec le tracé de Marion */
  #bghomecontainer {
    background-image: url("./images/background/header.png");
    background-repeat: no-repeat;
    background-size: 200%;
    /* padding: 0 0 70em 0em; */
  }

 .bg-marionprimary {
   background-color: #10AAA4;
 } 

 .bg-marionsecondary {
   background-color: #F8E0C2;
 }

 .bg-marionthird {
   background-color: #036D7D;
 }

 .map-responsive{
  overflow:hidden;
  padding-bottom:80%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}


